@model MidgetBee.Models.Animes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animes</h4>
    <hr />
    <div style="float:left; margin-right:20px;">
        <img src="~/fotos/@Html.DisplayFor(model => model.Fotografia)" width="200" alt="Fotografia do @Html.DisplayFor(model => model.Nome)" title="@Html.DisplayFor(model => model.Nome)" />
    </div>
    <div style="line-height:2;"> 
        <b>Nome: </b> @Html.DisplayFor(model => model.Nome)<br />
        <b>Episódios: </b> @Html.DisplayFor(model => model.QuantEpisodios)<br />
        <b>Rating: </b> @Html.DisplayFor(model => model.Rating)<br />
        <b>Autor: </b> @Html.DisplayFor(model => model.Autor)<br />
        <b>Estúdio: </b> @Html.DisplayFor(model => model.Estudio)<br />
        <b>Periodo de Lançamento: </b> @Html.DisplayFor(model => model.Data)<br />
        <a style="font-weight:bold" href="@Html.DisplayFor(model => model.Links)"><b> Site para a Visualização</b></a><br />
        <b>Categorias: </b> @Html.DisplayFor(model => model.Categoria)<br /><br /><br />
    </div>
    <div>
        <b>Sinopse:</b> @Html.DisplayFor(model => model.Sinopse)
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAnime">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>