@model IEnumerable<MidgetBee.Models.Reviews>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (User.IsInRole("Admin")) {
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Anime.Fotografia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comentario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsersFK)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <img src="~/fotos/@Html.DisplayFor(modelItem => item.Anime.Fotografia)" alt="Fotografia" width="200" height="300" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comentario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Utilizador.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdReview">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdReview">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}